<h1 id="title">Huffington Post Assignment</h1>

<div id="selector">
	Choose Huffington Post section(s) to search:
<select name="sections" id="sections">
	<option value="">Select</option>
	<option value="politics">Politics</option>
  <option value="business">Business</option>
  <option value="entertainment">Entertainment</option>
  <option value="tech">Tech</option>
  <option value="media">Media</option>
  <option value="worldpost">World Post</option>
  <option value="healthyliving">Healthy Living</option>
  <option value="comedy">Comedy</option>
  <option value="huffpostlive">Huffpost Live</option>
  <option value="allsections">All Sections</option>
</select>
<button id="selectorsubmit">Add section to query</button>
</div>