<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Huffpo</title>
	<script src='/javascripts/jquery.js'></script>
  <script src='/javascripts/scripts.js'></script>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/Skeleton/css/normalize.css">
  <link rel="stylesheet" href="/Skeleton/css/skeleton.css">
</head>
<body>
	<%=yield%>
</body>
</html>